<div class="container qc" style="padding:0px !important; width:100%;">
      <div class="row">
        <div class="col-md-12">
            <div id="quote-container">
                <span style="font-size:100%;display:block;text-align:center;font-weight:900;"><%= @message %></span>
                <span style="text-align:center;display:block;padding:8%;"><a href="tel:+1901LAWNJOX" style="font-size:150%;font-weight:900;">Call Us: 901-LAWN-JOX</a></span>
             </div>
        </div>
    </div>
</div>
    
    
